<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Other.ChiTietDonHangActivity"></activity>
        <activity android:name=".Activity.Custumer.DatHangActivity" />
        <activity android:name=".Activity.Custumer.HistoryOrderActivity" />
        <activity android:name=".Activity.admin.TimKiemSanPham_AdminActivity" />
        <activity android:name=".Activity.admin.ChangeCatalogActivity" />
        <activity android:name=".Activity.Custumer.TimKiemDanhMucActivity" />
        <activity android:name=".Activity.Custumer.RegistrationActivity" />
        <activity android:name=".Activity.admin.AdminActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.Custumer.SeeMoreProposeProcductsActivity" />
        <activity android:name=".Activity.Custumer.SeeMoreNewProductsActivity" />
        <activity android:name=".Activity.Other.ChangePasswordActivity" />
        <activity android:name=".Activity.Other.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.admin.ChiTietSanPhamAdminActivity" />
        <activity android:name=".Activity.Custumer.UpdateInfoProfileActivity" />
        <activity android:name=".Activity.Custumer.TimKiem_SanPhamActivity" />
        <activity android:name=".Activity.Custumer.MainActivity" />
        <activity android:name=".Activity.Custumer.GioHangActivity" />
        <activity android:name=".Activity.Custumer.ChiTietSanPhamActivity" />
        <activity android:name=".Activity.Custumer.SanPhamActivity" />
        <activity android:name=".Activity.Custumer.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.admin.TimKiemDanhMuc_AdminActivity" />
    </application>

</manifest>